openapi: 3.0.0
info:
  title: flows_filtered Mitmproxy2Swagger
  version: 1.0.0
servers:
- url: https://www.woolworths.com.au
  description: The default server
paths:
  /api/ui/v2/bootstrap:
    get:
      summary: GET bootstrap
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
  /apis/ui/settings:
    get:
      summary: GET settings
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/inline_response_200_1'
                x-content-type: application/json
  /apis/ui/PiesCategoriesWithSpecials:
    get:
      summary: GET piescategorieswithspecials
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
  /apis/ui/SeoMetatags:
    post:
      summary: POST seometatags
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ui_SeoMetatags_body'
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
  /apis/ui/shopper/AuthenticationMethod:
    get:
      summary: GET authenticationmethod
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
  /apis/ui/login/loginwithcredential:
    post:
      summary: POST loginwithcredential
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/login_loginwithcredential_body'
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
  /api/v3/ui/authentication/otp:
    post:
      summary: POST otp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/authentication_otp_body'
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
  /api/v3/ui/order/amending:
    get:
      summary: GET amending
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
  /apis/ui/Trolley/Remove:
    post:
      summary: POST remove
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Trolley_Remove_body'
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
  /apis/ui/Search/suggestion:
    get:
      summary: GET suggestion
      parameters:
      - name: Key
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
  /apis/ui/v2/Search/count:
    get:
      summary: GET count
      parameters:
      - name: searchTerm
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
  /apis/ui/Search/products:
    post:
      summary: POST products
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Search_products_body'
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
  /apis/ui/inspiration/cards:
    get:
      summary: GET cards
      parameters:
      - name: url
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
  /api/v3/ui/mylists:
    get:
      summary: GET mylists
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
  /api/v3/ui/trolley/update:
    post:
      summary: POST trolley update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/trolley_update_body'
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
  /apis/ui/Trolley:
    get:
      summary: GET trolley
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
  /apis/ui/product/haveyouforgotten:
    get:
      summary: GET haveyouforgotten
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: array
                items: {}
                x-content-type: application/json
  /apis/ui/Checkout:
    get:
      summary: GET checkout
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
  /api/v3/ui/fulfilment/windows:
    get:
      summary: GET windows
      parameters:
      - name: areaId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: number
      - name: fulfilmentMethod
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: addressId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: number
      - name: suburbId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
  /apis/ui/Delivery/Options:
    get:
      summary: GET options
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
    post:
      summary: POST options
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Delivery_Options_body'
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
  /api/v3/ui/checkout/digitalpay/instruments:
    get:
      summary: GET instruments
      parameters:
      - name: isForPaymentAgreement
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
  /apis/ui/Checkout/DigitalPay/InitializeCreditCardIframe:
    post:
      summary: POST initializecreditcardiframe
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_21'
  /apis/ui/Fulfilment:
    post:
      summary: POST fulfilment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ui_Fulfilment_body'
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_22'
  /apis/ui/Delivery/DeliveryInfo:
    get:
      summary: GET deliveryinfo
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_23'
  /api/v3/ui/fulfilment/feestructure/{id}:
    get:
      summary: GET feestructure by id
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_24'
  /api/v3/ui/PackagingPreferences:
    get:
      summary: GET packagingpreferences
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_25'
  /apis/ui/Trolley/UpdateOrRemoveItems:
    post:
      summary: POST updateorremoveitems
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Trolley_UpdateOrRemoveItems_body'
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_26'
  /api/v3/ui/PackagingPreferences/{id}:
    post:
      summary: POST packagingpreferences by id
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_25'
  /apis/ui/Checkout/DigitalPay/Payment:
    post:
      summary: POST payment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DigitalPay_Payment_body'
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_27'
  /apis/ui/pastshops/list:
    get:
      summary: GET list
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_28'
  /apis/ui/UserPreferences/HasDoneCheckoutOnboarding:
    post:
      summary: POST hasdonecheckoutonboarding
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserPreferences_HasDoneCheckoutOnboarding_body'
      responses: {}
  /apis/ui/Checkout/ConfirmOrder:
    get:
      summary: GET confirmorder
      parameters:
      - name: OrderId
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: number
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_29'
components:
  schemas:
    inline_response_200:
      type: object
      properties:
        ConfigRequest:
          type: object
          properties:
            ContextExpiryPeriod:
              type: number
            SiteShortName:
              type: string
            CurrentVersion:
              type: string
            RichRelevanceRequestUrl:
              type: string
            RichRelevanceApiKey:
              type: string
            DefaultProductImage:
              type: string
            DefaultProductImageSmall:
              type: string
            JwtsEnabled:
              type: boolean
            JwtExpiryMinutes:
              type: number
          example:
            SiteShortName: SiteShortName
            JwtExpiryMinutes: 6.027456183070403
            RichRelevanceRequestUrl: RichRelevanceRequestUrl
            RichRelevanceApiKey: RichRelevanceApiKey
            JwtsEnabled: true
            CurrentVersion: CurrentVersion
            DefaultProductImage: DefaultProductImage
            DefaultProductImageSmall: DefaultProductImageSmall
            ContextExpiryPeriod: 0.8008281904610115
        GetDeliveryInfoRequest:
          type: object
          properties:
            DeliveryMethod:
              type: object
            Address:
              type: object
            TrolleyTarget:
              type: object
              properties:
                AreaTarget:
                  type: string
                TargetId:
                  type: object
                AreaIdForNonServiced:
                  type: object
                TradingAccount:
                  type: object
              example:
                AreaIdForNonServiced: {}
                AreaTarget: AreaTarget
                TradingAccount: {}
                TargetId: {}
            CurrentDateAtFulfilmentStore:
              type: string
            ReservedDate:
              type: object
              properties:
                Date:
                  type: object
                DateLongText:
                  type: object
                DateText:
                  type: object
                AbsoluteDateText:
                  type: object
              example:
                DateLongText: {}
                Date: {}
                DateText: {}
                AbsoluteDateText: {}
            ReservedTime:
              type: object
              properties:
                DeliveryWindowId:
                  type: number
                Id:
                  type: number
                TimeWindow:
                  type: object
                StartDateTime:
                  type: object
                EndDateTime:
                  type: object
                MinutesToCutOff:
                  type: number
              example:
                StartDateTime: {}
                EndDateTime: {}
                DeliveryWindowId: 1.4658129805029452
                MinutesToCutOff: 5.637376656633329
                Id: 5.962133916683182
                TimeWindow: {}
            IsDeliveryPlusEligible:
              type: boolean
            DeliveryInstructions:
              type: string
            PickupInstructions:
              type: string
            IsNonServiced:
              type: boolean
            IsExpress:
              type: boolean
            IsSecondary:
              type: boolean
            IsCrowdSourced:
              type: boolean
            CanLeaveUnattended:
              type: boolean
            MarketDeliveryDetails:
              type: object
              properties:
                ThirdPartyVendorDeliveryInfoList:
                  type: array
                  items: {}
                MarketDeliveryAddress:
                  type: object
                MarketAddressText:
                  type: object
              example:
                ThirdPartyVendorDeliveryInfoList:
                - ""
                - ""
                MarketAddressText: {}
                MarketDeliveryAddress: {}
            WindowFeeStructureId:
              type: number
          example:
            PickupInstructions: PickupInstructions
            IsSecondary: true
            MarketDeliveryDetails:
              ThirdPartyVendorDeliveryInfoList:
              - ""
              - ""
              MarketAddressText: {}
              MarketDeliveryAddress: {}
            IsDeliveryPlusEligible: true
            DeliveryInstructions: DeliveryInstructions
            DeliveryMethod: {}
            Address: {}
            IsCrowdSourced: true
            ReservedDate:
              DateLongText: {}
              Date: {}
              DateText: {}
              AbsoluteDateText: {}
            CurrentDateAtFulfilmentStore: CurrentDateAtFulfilmentStore
            ReservedTime:
              StartDateTime: {}
              EndDateTime: {}
              DeliveryWindowId: 1.4658129805029452
              MinutesToCutOff: 5.637376656633329
              Id: 5.962133916683182
              TimeWindow: {}
            IsNonServiced: true
            IsExpress: true
            CanLeaveUnattended: true
            TrolleyTarget:
              AreaIdForNonServiced: {}
              AreaTarget: AreaTarget
              TradingAccount: {}
              TargetId: {}
            WindowFeeStructureId: 2.3021358869347655
        LatestFulfilledInvoiceRequest:
          type: object
          properties:
            Invoice:
              type: object
          example:
            Invoice: {}
        ListTopLevelPiesCategories:
          type: object
          properties:
            Categories:
              type: array
              items:
                type: object
                properties:
                  NodeId:
                    type: string
                  Description:
                    type: string
                  NodeLevel:
                    type: number
                  ParentNodeId:
                    type: object
                  DisplayOrder:
                    type: number
                  IsRestricted:
                    type: boolean
                  ProductCount:
                    type: number
                  IsSortEnabled:
                    type: boolean
                  IsPaginationEnabled:
                    type: boolean
                  UrlFriendlyName:
                    type: string
                  Children:
                    type: object
                  IsSpecial:
                    type: boolean
                  RichRelevanceId:
                    type: object
                  IsBundle:
                    type: boolean
                example:
                  NodeLevel: 7.061401241503109
                  Description: Description
                  DisplayOrder: 9.301444243932576
                  IsSpecial: true
                  IsRestricted: true
                  IsBundle: true
                  IsSortEnabled: true
                  RichRelevanceId: {}
                  ProductCount: 3.616076749251911
                  IsPaginationEnabled: true
                  NodeId: NodeId
                  Children: {}
                  UrlFriendlyName: UrlFriendlyName
                  ParentNodeId: {}
          example:
            Categories:
            - NodeLevel: 7.061401241503109
              Description: Description
              DisplayOrder: 9.301444243932576
              IsSpecial: true
              IsRestricted: true
              IsBundle: true
              IsSortEnabled: true
              RichRelevanceId: {}
              ProductCount: 3.616076749251911
              IsPaginationEnabled: true
              NodeId: NodeId
              Children: {}
              UrlFriendlyName: UrlFriendlyName
              ParentNodeId: {}
            - NodeLevel: 7.061401241503109
              Description: Description
              DisplayOrder: 9.301444243932576
              IsSpecial: true
              IsRestricted: true
              IsBundle: true
              IsSortEnabled: true
              RichRelevanceId: {}
              ProductCount: 3.616076749251911
              IsPaginationEnabled: true
              NodeId: NodeId
              Children: {}
              UrlFriendlyName: UrlFriendlyName
              ParentNodeId: {}
        ShopperRequest:
          type: object
          properties:
            AllowRestrictedDepartment:
              type: boolean
            OrderCount:
              type: number
            MarketOrderCount:
              type: number
            FirstName:
              type: object
            Email:
              type: object
            Id:
              type: number
            IsGuest:
              type: boolean
            ABN:
              type: object
            RichRelevanceSessionId:
              type: string
            FulfilmentStoreId:
              type: number
            ActiveDeliverySaverExpiryDate:
              type: object
            ShopperStatusId:
              type: object
            MfaRequired:
              type: boolean
            DateCreated:
              type: object
          example:
            MarketOrderCount: 4.145608029883936
            MfaRequired: true
            Email: {}
            FirstName: {}
            DateCreated: {}
            IsGuest: true
            ABN: {}
            ShopperStatusId: {}
            RichRelevanceSessionId: RichRelevanceSessionId
            AllowRestrictedDepartment: true
            OrderCount: 2.027123023002322
            Id: 7.386281948385884
            ActiveDeliverySaverExpiryDate: {}
            FulfilmentStoreId: 1.2315135367772556
        TrolleyRequest:
          type: object
          properties:
            Totals:
              type: object
              properties:
                Total:
                  type: number
                SubTotal:
                  type: number
                TotalSavings:
                  type: number
                WoolworthsTotal:
                  type: number
                WoolworthsSubTotal:
                  type: number
                WoolworthsDiscountableSubTotal:
                  type: number
                MarketTotal:
                  type: number
                MarketSubTotal:
                  type: number
                MarketDiscountableSubTotal:
                  type: number
              example:
                MarketSubTotal: 9.965781217890562
                WoolworthsSubTotal: 1.1730742509559433
                WoolworthsTotal: 7.457744773683766
                TotalSavings: 6.84685269835264
                WoolworthsDiscountableSubTotal: 4.965218492984954
                Total: 1.0246457001441578
                MarketTotal: 5.025004791520295
                SubTotal: 1.4894159098541704
                MarketDiscountableSubTotal: 9.369310271410669
            AvailableItems:
              type: array
              items: {}
            UnavailableItems:
              type: array
              items: {}
            ExceededAtpLimitItems:
              type: array
              items: {}
            UnavailableByMarketOutOfStockItems:
              type: array
              items: {}
            RestrictedItems:
              type: array
              items: {}
            BundleItems:
              type: array
              items: {}
            RestrictedByDeliveryMethodItems:
              type: array
              items: {}
            RestrictedByDeliPlattersItems:
              type: array
              items: {}
            ExceededSupplyLimitItems:
              type: array
              items: {}
            DeliveryFee:
              type: object
              properties:
                Total:
                  type: number
              example:
                Total: 6.683562403749608
            MarketShippingFees:
              type: object
              properties:
                Total:
                  type: number
                MarketShippingFee:
                  type: number
                MarketShippingFeeBeforeDiscount:
                  type: number
                MarketShippingFeeDiscount:
                  type: number
                Promotions:
                  type: array
                  items: {}
              example:
                Promotions:
                - ""
                - ""
                MarketShippingFeeBeforeDiscount: 6.438423552598547
                Total: 8.762042012749001
                MarketShippingFee: 9.018348186070783
                MarketShippingFeeDiscount: 3.5571952270680973
            MarketDeliveryDetails:
              type: object
              properties:
                ThirdPartyVendorDeliveryInfoList:
                  type: array
                  items: {}
                MarketDeliveryAddress:
                  type: object
                MarketAddressText:
                  type: object
              example:
                ThirdPartyVendorDeliveryInfoList:
                - ""
                - ""
                MarketAddressText: {}
                MarketDeliveryAddress: {}
            PotentialOrderPromotions:
              type: array
              items:
                type: object
                properties:
                  MinimumOrderValue:
                    type: number
                  DiscountType:
                    type: string
                  AwardValue:
                    type: number
                  Amount:
                    type: object
                  OfferId:
                    type: string
                  DiscountSourceId:
                    type: string
                  DiscountSource:
                    type: object
                  Target:
                    type: string
                example:
                  OfferId: OfferId
                  DiscountSource: {}
                  Target: Target
                  MinimumOrderValue: 6.965117697638846
                  DiscountType: DiscountType
                  Amount: {}
                  DiscountSourceId: DiscountSourceId
                  AwardValue: 1.284659006116532
            Message:
              type: object
            RestrictedByDeliveryMethodMessage:
              type: object
            RestrictedByDeliPlattersMessage:
              type: object
            RestrictedByDeliveryWindowMessage:
              type: object
            ProductGroupSupplyLimitWindowWarningMessage:
              type: object
            TrolleyItemCount:
              type: number
            TotalTrolleyItemQuantity:
              type: number
            TotalWowDeliveryTrolleyItemQuantity:
              type: number
            MaximumOrderQuantity:
              type: number
            WowRewardsSummary:
              type: object
              properties:
                WowRewardsToSpend:
                  type: number
                WowRewardsEarned:
                  type: number
                IsWowRewardsCardRegistered:
                  type: boolean
                IsErrorInGettingWowRewardsBalance:
                  type: boolean
                HasValidWowRewardsCard:
                  type: boolean
                SaveForLaterPreference:
                  type: string
                SaveForLaterQffPoints:
                  type: string
                IsLessThanMinimumRedemptionBalance:
                  type: boolean
                RewardsCredits:
                  type: object
                TotalRewardsPointsEarned:
                  type: number
              example:
                RewardsCredits: {}
                IsWowRewardsCardRegistered: true
                SaveForLaterPreference: SaveForLaterPreference
                IsErrorInGettingWowRewardsBalance: true
                TotalRewardsPointsEarned: 3.0937452626664474
                WowRewardsEarned: 3.353193347011243
                SaveForLaterQffPoints: SaveForLaterQffPoints
                WowRewardsToSpend: 6.704019297950036
                HasValidWowRewardsCard: true
                IsLessThanMinimumRedemptionBalance: true
            TaxRate:
              type: number
            Boosted:
              type: boolean
          example:
            Message: {}
            WowRewardsSummary:
              RewardsCredits: {}
              IsWowRewardsCardRegistered: true
              SaveForLaterPreference: SaveForLaterPreference
              IsErrorInGettingWowRewardsBalance: true
              TotalRewardsPointsEarned: 3.0937452626664474
              WowRewardsEarned: 3.353193347011243
              SaveForLaterQffPoints: SaveForLaterQffPoints
              WowRewardsToSpend: 6.704019297950036
              HasValidWowRewardsCard: true
              IsLessThanMinimumRedemptionBalance: true
            TotalWowDeliveryTrolleyItemQuantity: 6.878052220127876
            RestrictedItems:
            - ""
            - ""
            RestrictedByDeliveryMethodMessage: {}
            PotentialOrderPromotions:
            - OfferId: OfferId
              DiscountSource: {}
              Target: Target
              MinimumOrderValue: 6.965117697638846
              DiscountType: DiscountType
              Amount: {}
              DiscountSourceId: DiscountSourceId
              AwardValue: 1.284659006116532
            - OfferId: OfferId
              DiscountSource: {}
              Target: Target
              MinimumOrderValue: 6.965117697638846
              DiscountType: DiscountType
              Amount: {}
              DiscountSourceId: DiscountSourceId
              AwardValue: 1.284659006116532
            TaxRate: 7.143538047012306
            TrolleyItemCount: 2.8841621266687802
            ProductGroupSupplyLimitWindowWarningMessage: {}
            RestrictedByDeliPlattersItems:
            - ""
            - ""
            MarketDeliveryDetails:
              ThirdPartyVendorDeliveryInfoList:
              - ""
              - ""
              MarketAddressText: {}
              MarketDeliveryAddress: {}
            RestrictedByDeliveryMethodItems:
            - ""
            - ""
            UnavailableItems:
            - ""
            - ""
            Totals:
              MarketSubTotal: 9.965781217890562
              WoolworthsSubTotal: 1.1730742509559433
              WoolworthsTotal: 7.457744773683766
              TotalSavings: 6.84685269835264
              WoolworthsDiscountableSubTotal: 4.965218492984954
              Total: 1.0246457001441578
              MarketTotal: 5.025004791520295
              SubTotal: 1.4894159098541704
              MarketDiscountableSubTotal: 9.369310271410669
            ExceededAtpLimitItems:
            - ""
            - ""
            BundleItems:
            - ""
            - ""
            MaximumOrderQuantity: 5.944895607614016
            RestrictedByDeliPlattersMessage: {}
            TotalTrolleyItemQuantity: 6.778324963048013
            AvailableItems:
            - ""
            - ""
            Boosted: true
            RestrictedByDeliveryWindowMessage: {}
            DeliveryFee:
              Total: 6.683562403749608
            ExceededSupplyLimitItems:
            - ""
            - ""
            UnavailableByMarketOutOfStockItems:
            - ""
            - ""
            MarketShippingFees:
              Promotions:
              - ""
              - ""
              MarketShippingFeeBeforeDiscount: 6.438423552598547
              Total: 8.762042012749001
              MarketShippingFee: 9.018348186070783
              MarketShippingFeeDiscount: 3.5571952270680973
      example:
        ConfigRequest:
          SiteShortName: SiteShortName
          JwtExpiryMinutes: 6.027456183070403
          RichRelevanceRequestUrl: RichRelevanceRequestUrl
          RichRelevanceApiKey: RichRelevanceApiKey
          JwtsEnabled: true
          CurrentVersion: CurrentVersion
          DefaultProductImage: DefaultProductImage
          DefaultProductImageSmall: DefaultProductImageSmall
          ContextExpiryPeriod: 0.8008281904610115
        ListTopLevelPiesCategories:
          Categories:
          - NodeLevel: 7.061401241503109
            Description: Description
            DisplayOrder: 9.301444243932576
            IsSpecial: true
            IsRestricted: true
            IsBundle: true
            IsSortEnabled: true
            RichRelevanceId: {}
            ProductCount: 3.616076749251911
            IsPaginationEnabled: true
            NodeId: NodeId
            Children: {}
            UrlFriendlyName: UrlFriendlyName
            ParentNodeId: {}
          - NodeLevel: 7.061401241503109
            Description: Description
            DisplayOrder: 9.301444243932576
            IsSpecial: true
            IsRestricted: true
            IsBundle: true
            IsSortEnabled: true
            RichRelevanceId: {}
            ProductCount: 3.616076749251911
            IsPaginationEnabled: true
            NodeId: NodeId
            Children: {}
            UrlFriendlyName: UrlFriendlyName
            ParentNodeId: {}
        LatestFulfilledInvoiceRequest:
          Invoice: {}
        TrolleyRequest:
          Message: {}
          WowRewardsSummary:
            RewardsCredits: {}
            IsWowRewardsCardRegistered: true
            SaveForLaterPreference: SaveForLaterPreference
            IsErrorInGettingWowRewardsBalance: true
            TotalRewardsPointsEarned: 3.0937452626664474
            WowRewardsEarned: 3.353193347011243
            SaveForLaterQffPoints: SaveForLaterQffPoints
            WowRewardsToSpend: 6.704019297950036
            HasValidWowRewardsCard: true
            IsLessThanMinimumRedemptionBalance: true
          TotalWowDeliveryTrolleyItemQuantity: 6.878052220127876
          RestrictedItems:
          - ""
          - ""
          RestrictedByDeliveryMethodMessage: {}
          PotentialOrderPromotions:
          - OfferId: OfferId
            DiscountSource: {}
            Target: Target
            MinimumOrderValue: 6.965117697638846
            DiscountType: DiscountType
            Amount: {}
            DiscountSourceId: DiscountSourceId
            AwardValue: 1.284659006116532
          - OfferId: OfferId
            DiscountSource: {}
            Target: Target
            MinimumOrderValue: 6.965117697638846
            DiscountType: DiscountType
            Amount: {}
            DiscountSourceId: DiscountSourceId
            AwardValue: 1.284659006116532
          TaxRate: 7.143538047012306
          TrolleyItemCount: 2.8841621266687802
          ProductGroupSupplyLimitWindowWarningMessage: {}
          RestrictedByDeliPlattersItems:
          - ""
          - ""
          MarketDeliveryDetails:
            ThirdPartyVendorDeliveryInfoList:
            - ""
            - ""
            MarketAddressText: {}
            MarketDeliveryAddress: {}
          RestrictedByDeliveryMethodItems:
          - ""
          - ""
          UnavailableItems:
          - ""
          - ""
          Totals:
            MarketSubTotal: 9.965781217890562
            WoolworthsSubTotal: 1.1730742509559433
            WoolworthsTotal: 7.457744773683766
            TotalSavings: 6.84685269835264
            WoolworthsDiscountableSubTotal: 4.965218492984954
            Total: 1.0246457001441578
            MarketTotal: 5.025004791520295
            SubTotal: 1.4894159098541704
            MarketDiscountableSubTotal: 9.369310271410669
          ExceededAtpLimitItems:
          - ""
          - ""
          BundleItems:
          - ""
          - ""
          MaximumOrderQuantity: 5.944895607614016
          RestrictedByDeliPlattersMessage: {}
          TotalTrolleyItemQuantity: 6.778324963048013
          AvailableItems:
          - ""
          - ""
          Boosted: true
          RestrictedByDeliveryWindowMessage: {}
          DeliveryFee:
            Total: 6.683562403749608
          ExceededSupplyLimitItems:
          - ""
          - ""
          UnavailableByMarketOutOfStockItems:
          - ""
          - ""
          MarketShippingFees:
            Promotions:
            - ""
            - ""
            MarketShippingFeeBeforeDiscount: 6.438423552598547
            Total: 8.762042012749001
            MarketShippingFee: 9.018348186070783
            MarketShippingFeeDiscount: 3.5571952270680973
        GetDeliveryInfoRequest:
          PickupInstructions: PickupInstructions
          IsSecondary: true
          MarketDeliveryDetails:
            ThirdPartyVendorDeliveryInfoList:
            - ""
            - ""
            MarketAddressText: {}
            MarketDeliveryAddress: {}
          IsDeliveryPlusEligible: true
          DeliveryInstructions: DeliveryInstructions
          DeliveryMethod: {}
          Address: {}
          IsCrowdSourced: true
          ReservedDate:
            DateLongText: {}
            Date: {}
            DateText: {}
            AbsoluteDateText: {}
          CurrentDateAtFulfilmentStore: CurrentDateAtFulfilmentStore
          ReservedTime:
            StartDateTime: {}
            EndDateTime: {}
            DeliveryWindowId: 1.4658129805029452
            MinutesToCutOff: 5.637376656633329
            Id: 5.962133916683182
            TimeWindow: {}
          IsNonServiced: true
          IsExpress: true
          CanLeaveUnattended: true
          TrolleyTarget:
            AreaIdForNonServiced: {}
            AreaTarget: AreaTarget
            TradingAccount: {}
            TargetId: {}
          WindowFeeStructureId: 2.3021358869347655
        ShopperRequest:
          MarketOrderCount: 4.145608029883936
          MfaRequired: true
          Email: {}
          FirstName: {}
          DateCreated: {}
          IsGuest: true
          ABN: {}
          ShopperStatusId: {}
          RichRelevanceSessionId: RichRelevanceSessionId
          AllowRestrictedDepartment: true
          OrderCount: 2.027123023002322
          Id: 7.386281948385884
          ActiveDeliverySaverExpiryDate: {}
          FulfilmentStoreId: 1.2315135367772556
    inline_response_200_1:
      type: object
      properties:
        Group:
          type: string
        Name:
          type: string
        Value:
          type: boolean
      example:
        Group: Group
        Value: true
        Name: Name
    inline_response_200_2:
      type: object
      properties:
        Categories:
          type: array
          items:
            type: object
            properties:
              NodeId:
                type: string
              Description:
                type: string
              NodeLevel:
                type: number
              ParentNodeId:
                type: object
              DisplayOrder:
                type: number
              IsRestricted:
                type: boolean
              ProductCount:
                type: number
              IsSortEnabled:
                type: boolean
              IsPaginationEnabled:
                type: boolean
              UrlFriendlyName:
                type: string
              Children:
                type: array
                items:
                  type: object
                  properties:
                    NodeId:
                      type: string
                    Description:
                      type: string
                    NodeLevel:
                      type: number
                    ParentNodeId:
                      type: string
                    DisplayOrder:
                      type: number
                    IsRestricted:
                      type: boolean
                    ProductCount:
                      type: number
                    IsSortEnabled:
                      type: boolean
                    IsPaginationEnabled:
                      type: boolean
                    UrlFriendlyName:
                      type: string
                    Children:
                      type: array
                      items: {}
                    IsSpecial:
                      type: boolean
                    RichRelevanceId:
                      type: object
                    IsBundle:
                      type: boolean
                  example:
                    NodeLevel: 5.962133916683182
                    Description: Description
                    DisplayOrder: 5.637376656633329
                    IsSpecial: true
                    IsRestricted: true
                    IsBundle: true
                    IsSortEnabled: true
                    RichRelevanceId: {}
                    ProductCount: 2.3021358869347655
                    IsPaginationEnabled: true
                    NodeId: NodeId
                    Children:
                    - ""
                    - ""
                    UrlFriendlyName: UrlFriendlyName
                    ParentNodeId: ParentNodeId
              IsSpecial:
                type: boolean
              RichRelevanceId:
                type: object
              IsBundle:
                type: boolean
            example:
              NodeLevel: 0.8008281904610115
              Description: Description
              DisplayOrder: 6.027456183070403
              IsSpecial: true
              IsRestricted: true
              IsBundle: true
              IsSortEnabled: true
              RichRelevanceId: {}
              ProductCount: 1.4658129805029452
              IsPaginationEnabled: true
              NodeId: NodeId
              Children:
              - NodeLevel: 5.962133916683182
                Description: Description
                DisplayOrder: 5.637376656633329
                IsSpecial: true
                IsRestricted: true
                IsBundle: true
                IsSortEnabled: true
                RichRelevanceId: {}
                ProductCount: 2.3021358869347655
                IsPaginationEnabled: true
                NodeId: NodeId
                Children:
                - ""
                - ""
                UrlFriendlyName: UrlFriendlyName
                ParentNodeId: ParentNodeId
              - NodeLevel: 5.962133916683182
                Description: Description
                DisplayOrder: 5.637376656633329
                IsSpecial: true
                IsRestricted: true
                IsBundle: true
                IsSortEnabled: true
                RichRelevanceId: {}
                ProductCount: 2.3021358869347655
                IsPaginationEnabled: true
                NodeId: NodeId
                Children:
                - ""
                - ""
                UrlFriendlyName: UrlFriendlyName
                ParentNodeId: ParentNodeId
              UrlFriendlyName: UrlFriendlyName
              ParentNodeId: {}
      example:
        Categories:
        - NodeLevel: 0.8008281904610115
          Description: Description
          DisplayOrder: 6.027456183070403
          IsSpecial: true
          IsRestricted: true
          IsBundle: true
          IsSortEnabled: true
          RichRelevanceId: {}
          ProductCount: 1.4658129805029452
          IsPaginationEnabled: true
          NodeId: NodeId
          Children:
          - NodeLevel: 5.962133916683182
            Description: Description
            DisplayOrder: 5.637376656633329
            IsSpecial: true
            IsRestricted: true
            IsBundle: true
            IsSortEnabled: true
            RichRelevanceId: {}
            ProductCount: 2.3021358869347655
            IsPaginationEnabled: true
            NodeId: NodeId
            Children:
            - ""
            - ""
            UrlFriendlyName: UrlFriendlyName
            ParentNodeId: ParentNodeId
          - NodeLevel: 5.962133916683182
            Description: Description
            DisplayOrder: 5.637376656633329
            IsSpecial: true
            IsRestricted: true
            IsBundle: true
            IsSortEnabled: true
            RichRelevanceId: {}
            ProductCount: 2.3021358869347655
            IsPaginationEnabled: true
            NodeId: NodeId
            Children:
            - ""
            - ""
            UrlFriendlyName: UrlFriendlyName
            ParentNodeId: ParentNodeId
          UrlFriendlyName: UrlFriendlyName
          ParentNodeId: {}
        - NodeLevel: 0.8008281904610115
          Description: Description
          DisplayOrder: 6.027456183070403
          IsSpecial: true
          IsRestricted: true
          IsBundle: true
          IsSortEnabled: true
          RichRelevanceId: {}
          ProductCount: 1.4658129805029452
          IsPaginationEnabled: true
          NodeId: NodeId
          Children:
          - NodeLevel: 5.962133916683182
            Description: Description
            DisplayOrder: 5.637376656633329
            IsSpecial: true
            IsRestricted: true
            IsBundle: true
            IsSortEnabled: true
            RichRelevanceId: {}
            ProductCount: 2.3021358869347655
            IsPaginationEnabled: true
            NodeId: NodeId
            Children:
            - ""
            - ""
            UrlFriendlyName: UrlFriendlyName
            ParentNodeId: ParentNodeId
          - NodeLevel: 5.962133916683182
            Description: Description
            DisplayOrder: 5.637376656633329
            IsSpecial: true
            IsRestricted: true
            IsBundle: true
            IsSortEnabled: true
            RichRelevanceId: {}
            ProductCount: 2.3021358869347655
            IsPaginationEnabled: true
            NodeId: NodeId
            Children:
            - ""
            - ""
            UrlFriendlyName: UrlFriendlyName
            ParentNodeId: ParentNodeId
          UrlFriendlyName: UrlFriendlyName
          ParentNodeId: {}
    ui_SeoMetatags_body:
      type: object
      properties:
        FormatObject:
          type: string
        IsSpecial:
          type: boolean
        PageType:
          type: string
        UrlPath:
          type: string
    inline_response_200_3:
      type: object
      properties:
        Title:
          type: string
        MetaDescription:
          type: string
        Groups:
          type: array
          items: {}
      example:
        Groups:
        - ""
        - ""
        Title: Title
        MetaDescription: MetaDescription
    inline_response_200_4:
      type: object
      properties:
        AuthenticationMethod:
          type: string
        IsImpersonated:
          type: boolean
      example:
        IsImpersonated: true
        AuthenticationMethod: AuthenticationMethod
    login_loginwithcredential_body:
      type: object
      properties:
        Email:
          type: string
        Password:
          type: string
        RememberMe:
          type: boolean
        LinkToken:
          type: object
        UserIdFromAgent:
          type: object
    inline_response_200_5:
      type: object
      properties:
        FirstName:
          type: string
        LoginResult:
          type: string
        AuthenticationErrorMessage:
          type: object
        LoginCollectionZoneMessages:
          type: array
          items: {}
        PasswordResetToken:
          type: object
        HasCollectionZoneMessages:
          type: boolean
        LoginViaAgent:
          type: object
        PreferredChannel:
          type: number
        ValidPhone:
          type: boolean
        OtpResult:
          type: boolean
        MaskedChannel:
          type: string
      example:
        LoginViaAgent: {}
        FirstName: FirstName
        ValidPhone: true
        LoginResult: LoginResult
        HasCollectionZoneMessages: true
        PasswordResetToken: {}
        MaskedChannel: MaskedChannel
        PreferredChannel: 0.8008281904610115
        OtpResult: true
        LoginCollectionZoneMessages:
        - ""
        - ""
        AuthenticationErrorMessage: {}
    authentication_otp_body:
      type: object
      properties:
        OneTimePin:
          type: string
        UpdatePrimaryContact:
          type: object
    inline_response_200_6:
      type: object
      properties:
        Successful:
          type: boolean
        Error:
          type: object
        TokenValue:
          type: string
        ErrorMessage:
          type: object
      example:
        Error: {}
        ErrorMessage: {}
        Successful: true
        TokenValue: TokenValue
    inline_response_200_7:
      type: object
      properties:
        OrderId:
          type: object
        AmendCutoffTime:
          type: object
        IsAmendingMarketOrder:
          type: boolean
      example:
        IsAmendingMarketOrder: true
        AmendCutoffTime: {}
        OrderId: {}
    Trolley_Remove_body:
      type: object
      properties:
        Stockcode:
          type: number
        evaluateRewardPoints:
          type: boolean
    inline_response_200_8:
      type: object
      properties:
        Totals:
          type: object
          properties:
            Total:
              type: number
            SubTotal:
              type: number
            TotalSavings:
              type: number
            WoolworthsTotal:
              type: number
            WoolworthsSubTotal:
              type: number
            WoolworthsDiscountableSubTotal:
              type: number
            MarketTotal:
              type: number
            MarketSubTotal:
              type: number
            MarketDiscountableSubTotal:
              type: number
          example:
            MarketSubTotal: 9.301444243932576
            WoolworthsSubTotal: 5.637376656633329
            WoolworthsTotal: 5.962133916683182
            TotalSavings: 1.4658129805029452
            WoolworthsDiscountableSubTotal: 2.3021358869347655
            Total: 0.8008281904610115
            MarketTotal: 7.061401241503109
            SubTotal: 6.027456183070403
            MarketDiscountableSubTotal: 3.616076749251911
        AvailableItems:
          type: array
          items: {}
        UnavailableItems:
          type: array
          items: {}
        ExceededAtpLimitItems:
          type: array
          items: {}
        UnavailableByMarketOutOfStockItems:
          type: array
          items: {}
        RestrictedItems:
          type: array
          items: {}
        BundleItems:
          type: array
          items: {}
        RestrictedByDeliveryMethodItems:
          type: array
          items: {}
        RestrictedByDeliPlattersItems:
          type: array
          items: {}
        ExceededSupplyLimitItems:
          type: array
          items: {}
        DeliveryFee:
          type: object
          properties:
            Total:
              type: number
          example:
            Total: 2.027123023002322
        MarketShippingFees:
          type: object
          properties:
            Total:
              type: number
            MarketShippingFee:
              type: number
            MarketShippingFeeBeforeDiscount:
              type: number
            MarketShippingFeeDiscount:
              type: number
            Promotions:
              type: array
              items: {}
          example:
            Promotions:
            - ""
            - ""
            MarketShippingFeeBeforeDiscount: 1.2315135367772556
            Total: 4.145608029883936
            MarketShippingFee: 7.386281948385884
            MarketShippingFeeDiscount: 1.0246457001441578
        MarketDeliveryDetails:
          type: object
          properties:
            ThirdPartyVendorDeliveryInfoList:
              type: array
              items: {}
            MarketDeliveryAddress:
              type: object
            MarketAddressText:
              type: object
          example:
            ThirdPartyVendorDeliveryInfoList:
            - ""
            - ""
            MarketAddressText: {}
            MarketDeliveryAddress: {}
        PotentialOrderPromotions:
          type: array
          items:
            type: object
            properties:
              MinimumOrderValue:
                type: number
              DiscountType:
                type: string
              AwardValue:
                type: number
              Amount:
                type: object
              OfferId:
                type: string
              DiscountSourceId:
                type: string
              DiscountSource:
                type: object
              Target:
                type: string
            example:
              OfferId: OfferId
              DiscountSource: {}
              Target: Target
              MinimumOrderValue: 1.4894159098541704
              DiscountType: DiscountType
              Amount: {}
              DiscountSourceId: DiscountSourceId
              AwardValue: 6.84685269835264
        Message:
          type: object
        RestrictedByDeliveryMethodMessage:
          type: object
        RestrictedByDeliPlattersMessage:
          type: object
        RestrictedByDeliveryWindowMessage:
          type: object
        ProductGroupSupplyLimitWindowWarningMessage:
          type: object
        TrolleyItemCount:
          type: number
        TotalTrolleyItemQuantity:
          type: number
        TotalWowDeliveryTrolleyItemQuantity:
          type: number
        MaximumOrderQuantity:
          type: number
        WowRewardsSummary:
          type: object
          properties:
            WowRewardsToSpend:
              type: number
            WowRewardsEarned:
              type: number
            IsWowRewardsCardRegistered:
              type: boolean
            IsErrorInGettingWowRewardsBalance:
              type: boolean
            HasValidWowRewardsCard:
              type: boolean
            SaveForLaterPreference:
              type: string
            SaveForLaterQffPoints:
              type: string
            IsLessThanMinimumRedemptionBalance:
              type: boolean
            RewardsCredits:
              type: object
            TotalRewardsPointsEarned:
              type: number
          example:
            RewardsCredits: {}
            IsWowRewardsCardRegistered: true
            SaveForLaterPreference: SaveForLaterPreference
            IsErrorInGettingWowRewardsBalance: true
            TotalRewardsPointsEarned: 6.683562403749608
            WowRewardsEarned: 9.369310271410669
            SaveForLaterQffPoints: SaveForLaterQffPoints
            WowRewardsToSpend: 9.965781217890562
            HasValidWowRewardsCard: true
            IsLessThanMinimumRedemptionBalance: true
        TaxRate:
          type: number
        Boosted:
          type: boolean
      example:
        Message: {}
        WowRewardsSummary:
          RewardsCredits: {}
          IsWowRewardsCardRegistered: true
          SaveForLaterPreference: SaveForLaterPreference
          IsErrorInGettingWowRewardsBalance: true
          TotalRewardsPointsEarned: 6.683562403749608
          WowRewardsEarned: 9.369310271410669
          SaveForLaterQffPoints: SaveForLaterQffPoints
          WowRewardsToSpend: 9.965781217890562
          HasValidWowRewardsCard: true
          IsLessThanMinimumRedemptionBalance: true
        TotalWowDeliveryTrolleyItemQuantity: 4.965218492984954
        RestrictedItems:
        - ""
        - ""
        RestrictedByDeliveryMethodMessage: {}
        PotentialOrderPromotions:
        - OfferId: OfferId
          DiscountSource: {}
          Target: Target
          MinimumOrderValue: 1.4894159098541704
          DiscountType: DiscountType
          Amount: {}
          DiscountSourceId: DiscountSourceId
          AwardValue: 6.84685269835264
        - OfferId: OfferId
          DiscountSource: {}
          Target: Target
          MinimumOrderValue: 1.4894159098541704
          DiscountType: DiscountType
          Amount: {}
          DiscountSourceId: DiscountSourceId
          AwardValue: 6.84685269835264
        TaxRate: 8.762042012749001
        TrolleyItemCount: 7.457744773683766
        ProductGroupSupplyLimitWindowWarningMessage: {}
        RestrictedByDeliPlattersItems:
        - ""
        - ""
        MarketDeliveryDetails:
          ThirdPartyVendorDeliveryInfoList:
          - ""
          - ""
          MarketAddressText: {}
          MarketDeliveryAddress: {}
        RestrictedByDeliveryMethodItems:
        - ""
        - ""
        UnavailableItems:
        - ""
        - ""
        Totals:
          MarketSubTotal: 9.301444243932576
          WoolworthsSubTotal: 5.637376656633329
          WoolworthsTotal: 5.962133916683182
          TotalSavings: 1.4658129805029452
          WoolworthsDiscountableSubTotal: 2.3021358869347655
          Total: 0.8008281904610115
          MarketTotal: 7.061401241503109
          SubTotal: 6.027456183070403
          MarketDiscountableSubTotal: 3.616076749251911
        ExceededAtpLimitItems:
        - ""
        - ""
        BundleItems:
        - ""
        - ""
        MaximumOrderQuantity: 5.025004791520295
        RestrictedByDeliPlattersMessage: {}
        TotalTrolleyItemQuantity: 1.1730742509559433
        AvailableItems:
        - ""
        - ""
        Boosted: true
        RestrictedByDeliveryWindowMessage: {}
        DeliveryFee:
          Total: 2.027123023002322
        ExceededSupplyLimitItems:
        - ""
        - ""
        UnavailableByMarketOutOfStockItems:
        - ""
        - ""
        MarketShippingFees:
          Promotions:
          - ""
          - ""
          MarketShippingFeeBeforeDiscount: 1.2315135367772556
          Total: 4.145608029883936
          MarketShippingFee: 7.386281948385884
          MarketShippingFeeDiscount: 1.0246457001441578
    inline_response_200_9:
      type: object
      properties:
        SearchSuggestion:
          type: array
          items:
            type: string
      example:
        SearchSuggestion:
        - SearchSuggestion
        - SearchSuggestion
    inline_response_200_10:
      type: object
      properties:
        SearchCount:
          type: object
          properties:
            ProductCount:
              type: number
            SpecialProductCount:
              type: number
            RecipeCount:
              type: number
            ArticleCount:
              type: number
            Total:
              type: number
            SuggestedTerm:
              type: object
          example:
            RecipeCount: 1.4658129805029452
            ProductCount: 0.8008281904610115
            ArticleCount: 5.962133916683182
            Total: 5.637376656633329
            SuggestedTerm: {}
            SpecialProductCount: 6.027456183070403
      example:
        SearchCount:
          RecipeCount: 1.4658129805029452
          ProductCount: 0.8008281904610115
          ArticleCount: 5.962133916683182
          Total: 5.637376656633329
          SuggestedTerm: {}
          SpecialProductCount: 6.027456183070403
    Search_products_body:
      type: object
      properties:
        Filters:
          type: array
          items: {}
        IsSpecial:
          type: boolean
        Location:
          type: string
        PageNumber:
          type: number
        PageSize:
          type: number
        SearchTerm:
          type: string
        SortType:
          type: string
    inline_response_200_11:
      type: object
      properties:
        Products:
          type: array
          items:
            type: object
            properties:
              Products:
                type: array
                items:
                  type: object
                  properties:
                    TileID:
                      type: number
                    Stockcode:
                      type: number
                    Barcode:
                      type: string
                    GtinFormat:
                      type: number
                    CupPrice:
                      type: number
                    InstoreCupPrice:
                      type: number
                    CupMeasure:
                      type: string
                    CupString:
                      type: string
                    InstoreCupString:
                      type: string
                    HasCupPrice:
                      type: boolean
                    InstoreHasCupPrice:
                      type: boolean
                    Price:
                      type: number
                    InstorePrice:
                      type: number
                    Name:
                      type: string
                    DisplayName:
                      type: string
                    UrlFriendlyName:
                      type: string
                    Description:
                      type: string
                    SmallImageFile:
                      type: string
                    MediumImageFile:
                      type: string
                    LargeImageFile:
                      type: string
                    IsNew:
                      type: boolean
                    IsOnSpecial:
                      type: boolean
                    InstoreIsOnSpecial:
                      type: boolean
                    IsEdrSpecial:
                      type: boolean
                    SavingsAmount:
                      type: number
                    InstoreSavingsAmount:
                      type: number
                    WasPrice:
                      type: number
                    InstoreWasPrice:
                      type: number
                    QuantityInTrolley:
                      type: number
                    Unit:
                      type: string
                    MinimumQuantity:
                      type: number
                    HasBeenBoughtBefore:
                      type: boolean
                    IsInTrolley:
                      type: boolean
                    Source:
                      type: string
                    SupplyLimit:
                      type: number
                    ProductLimit:
                      type: number
                    MaxSupplyLimitMessage:
                      type: string
                    IsRanged:
                      type: boolean
                    IsInStock:
                      type: boolean
                    PackageSize:
                      type: string
                    IsPmDelivery:
                      type: boolean
                    IsForCollection:
                      type: boolean
                    IsForDelivery:
                      type: boolean
                    IsForExpress:
                      type: boolean
                    ProductRestrictionMessage:
                      type: object
                    ProductWarningMessage:
                      type: object
                    CentreTag:
                      type: object
                      properties:
                        TagContent:
                          type: object
                        TagLink:
                          type: object
                        FallbackText:
                          type: object
                        TagType:
                          type: string
                        MultibuyData:
                          type: object
                        TagContentText:
                          type: object
                        DualImageTagContent:
                          type: object
                      example:
                        TagType: TagType
                        TagContentText: {}
                        DualImageTagContent: {}
                        TagLink: {}
                        MultibuyData: {}
                        TagContent: {}
                        FallbackText: {}
                    IsCentreTag:
                      type: boolean
                    ImageTag:
                      type: object
                      properties:
                        TagContent:
                          type: object
                        TagLink:
                          type: object
                        FallbackText:
                          type: string
                        TagType:
                          type: string
                        MultibuyData:
                          type: object
                        TagContentText:
                          type: object
                        DualImageTagContent:
                          type: object
                      example:
                        TagType: TagType
                        TagContentText: {}
                        DualImageTagContent: {}
                        TagLink: {}
                        MultibuyData: {}
                        TagContent: {}
                        FallbackText: FallbackText
                    HeaderTag:
                      type: object
                    HasHeaderTag:
                      type: boolean
                    UnitWeightInGrams:
                      type: number
                    SupplyLimitMessage:
                      type: string
                    SmallFormatDescription:
                      type: string
                    FullDescription:
                      type: string
                    IsAvailable:
                      type: boolean
                    InstoreIsAvailable:
                      type: boolean
                    IsPurchasable:
                      type: boolean
                    InstoreIsPurchasable:
                      type: boolean
                    AgeRestricted:
                      type: boolean
                    DisplayQuantity:
                      type: number
                    RichDescription:
                      type: object
                    IsDeliveryPass:
                      type: boolean
                    HideWasSavedPrice:
                      type: boolean
                    SapCategories:
                      type: object
                    Brand:
                      type: string
                    IsRestrictedByDeliveryMethod:
                      type: boolean
                    FooterTag:
                      type: object
                      properties:
                        TagContent:
                          type: object
                        TagLink:
                          type: object
                        FallbackText:
                          type: object
                        TagType:
                          type: string
                        MultibuyData:
                          type: object
                        TagContentText:
                          type: object
                        DualImageTagContent:
                          type: object
                      example:
                        TagType: TagType
                        TagContentText: {}
                        DualImageTagContent: {}
                        TagLink: {}
                        MultibuyData: {}
                        TagContent: {}
                        FallbackText: {}
                    IsFooterEnabled:
                      type: boolean
                    Diagnostics:
                      type: string
                    IsBundle:
                      type: boolean
                    IsInFamily:
                      type: boolean
                    ChildProducts:
                      type: object
                    UrlOverride:
                      type: object
                    AdditionalAttributes:
                      type: object
                      properties:
                        boxedcontents:
                          type: object
                        addedvitaminsandminerals:
                          type: string
                        sapdepartmentname:
                          type: string
                        spf:
                          type: object
                        haircolour:
                          type: object
                        lifestyleanddietarystatement:
                          type: string
                        sapcategoryname:
                          type: string
                        skintype:
                          type: object
                        importantinformation:
                          type: object
                        allergystatement:
                          type: object
                        productdepthmm:
                          type: object
                        skincondition:
                          type: object
                        ophthalmologistapproved:
                          type: object
                        healthstarrating:
                          type: string
                        hairtype:
                          type: object
                        fragrance-free:
                          type: object
                        sapsegmentname:
                          type: string
                        suitablefor:
                          type: object
                        PiesProductDepartmentsjson:
                          type: string
                        piessubcategorynamesjson:
                          type: string
                        sapsegmentno:
                          type: string
                        productwidthmm:
                          type: object
                        contains:
                          type: object
                        sapsubcategoryname:
                          type: string
                        dermatologisttested:
                          type: object
                        wool_productpackaging:
                          type: object
                        dermatologicallyapproved:
                          type: object
                        specialsgroupid:
                          type: object
                        productimages:
                          type: string
                        productheightmm:
                          type: object
                        r&r_hidereviews:
                          type: object
                        microwavesafe:
                          type: string
                        paba-free:
                          type: object
                        lifestyleclaim:
                          type: object
                        alcoholfree:
                          type: object
                        tgawarning:
                          type: object
                        activeconstituents:
                          type: object
                        microwaveable:
                          type: string
                        soap-free:
                          type: object
                        countryoforigin:
                          type: object
                        productimagecount:
                          type: string
                        r&r_loggedinreviews:
                          type: object
                        anti-dandruff:
                          type: object
                        servingsize-total-nip:
                          type: object
                        tgahealthwarninglink:
                          type: object
                        allergenmaybepresent:
                          type: object
                        PiesProductDepartmentNodeId:
                          type: string
                        parabenfree:
                          type: string
                        vendorarticleid:
                          type: object
                        containsgluten:
                          type: string
                        containsnuts:
                          type: string
                        ingredients:
                          type: string
                        colour:
                          type: object
                        manufacturer:
                          type: object
                        sapcategoryno:
                          type: string
                        storageinstructions:
                          type: string
                        tgawarnings:
                          type: object
                        piesdepartmentnamesjson:
                          type: string
                        brand:
                          type: string
                        oilfree:
                          type: object
                        fragrance:
                          type: object
                        antibacterial:
                          type: string
                        non-comedogenic:
                          type: object
                        antiseptic:
                          type: string
                        bpafree:
                          type: string
                        vendorcostprice:
                          type: object
                        description:
                          type: string
                        sweatresistant:
                          type: object
                        sapsubcategoryno:
                          type: string
                        claims:
                          type: object
                        antioxidant:
                          type: string
                        phbalanced:
                          type: object
                        wool_dietaryclaim:
                          type: string
                        ophthalmologisttested:
                          type: object
                        sulfatefree:
                          type: string
                        servingsperpack-total-nip:
                          type: object
                        piescategorynamesjson:
                          type: string
                        nutritionalinformation:
                          type: string
                        ovencook:
                          type: string
                        vegetarian:
                          type: string
                        hypo-allergenic:
                          type: object
                        timer:
                          type: object
                        dermatologistrecommended:
                          type: object
                        sapdepartmentno:
                          type: string
                        allergencontains:
                          type: object
                        waterresistant:
                          type: object
                        friendlydisclaimer:
                          type: object
                        recyclableinformation:
                          type: object
                        usageinstructions:
                          type: object
                        freezable:
                          type: string
                      example:
                        sapsegmentno: sapsegmentno
                        sapdepartmentno: sapdepartmentno
                        boxedcontents: {}
                        recyclableinformation: {}
                        allergenmaybepresent: {}
                        antibacterial: antibacterial
                        sapcategoryname: sapcategoryname
                        soap-free: {}
                        fragrance-free: {}
                        usageinstructions: {}
                        nutritionalinformation: nutritionalinformation
                        oilfree: {}
                        brand: brand
                        skincondition: {}
                        piessubcategorynamesjson: piessubcategorynamesjson
                        productwidthmm: {}
                        sapcategoryno: sapcategoryno
                        anti-dandruff: {}
                        productdepthmm: {}
                        sapsegmentname: sapsegmentname
                        antioxidant: antioxidant
                        lifestyleanddietarystatement: lifestyleanddietarystatement
                        waterresistant: {}
                        addedvitaminsandminerals: addedvitaminsandminerals
                        spf: {}
                        tgawarning: {}
                        alcoholfree: {}
                        ophthalmologisttested: {}
                        dermatologisttested: {}
                        contains: {}
                        healthstarrating: healthstarrating
                        servingsize-total-nip: {}
                        phbalanced: {}
                        piescategorynamesjson: piescategorynamesjson
                        claims: {}
                        importantinformation: {}
                        productimagecount: productimagecount
                        paba-free: {}
                        PiesProductDepartmentNodeId: PiesProductDepartmentNodeId
                        wool_dietaryclaim: wool_dietaryclaim
                        ovencook: ovencook
                        sapdepartmentname: sapdepartmentname
                        vendorarticleid: {}
                        containsgluten: containsgluten
                        productheightmm: {}
                        r&r_hidereviews: {}
                        description: description
                        haircolour: {}
                        allergystatement: {}
                        ophthalmologistapproved: {}
                        sweatresistant: {}
                        microwavesafe: microwavesafe
                        non-comedogenic: {}
                        containsnuts: containsnuts
                        manufacturer: {}
                        sapsubcategoryno: sapsubcategoryno
                        timer: {}
                        wool_productpackaging: {}
                        r&r_loggedinreviews: {}
                        storageinstructions: storageinstructions
                        dermatologicallyapproved: {}
                        hypo-allergenic: {}
                        vegetarian: vegetarian
                        ingredients: ingredients
                        piesdepartmentnamesjson: piesdepartmentnamesjson
                        vendorcostprice: {}
                        PiesProductDepartmentsjson: PiesProductDepartmentsjson
                        specialsgroupid: {}
                        antiseptic: antiseptic
                        skintype: {}
                        sapsubcategoryname: sapsubcategoryname
                        allergencontains: {}
                        microwaveable: microwaveable
                        tgawarnings: {}
                        dermatologistrecommended: {}
                        parabenfree: parabenfree
                        fragrance: {}
                        servingsperpack-total-nip: {}
                        colour: {}
                        friendlydisclaimer: {}
                        sulfatefree: sulfatefree
                        freezable: freezable
                        productimages: productimages
                        bpafree: bpafree
                        lifestyleclaim: {}
                        activeconstituents: {}
                        tgahealthwarninglink: {}
                        countryoforigin: {}
                        hairtype: {}
                        suitablefor: {}
                    DetailsImagePaths:
                      type: array
                      items:
                        type: string
                    Variety:
                      type: string
                    Rating:
                      type: object
                      properties:
                        ReviewCount:
                          type: number
                        RatingCount:
                          type: number
                        RatingSum:
                          type: number
                        OneStarCount:
                          type: number
                        TwoStarCount:
                          type: number
                        ThreeStarCount:
                          type: number
                        FourStarCount:
                          type: number
                        FiveStarCount:
                          type: number
                        Average:
                          type: number
                        OneStarPercentage:
                          type: number
                        TwoStarPercentage:
                          type: number
                        ThreeStarPercentage:
                          type: number
                        FourStarPercentage:
                          type: number
                        FiveStarPercentage:
                          type: number
                      example:
                        FourStarCount: 8.762042012749001
                        TwoStarCount: 9.369310271410669
                        TwoStarPercentage: 6.965117697638846
                        OneStarCount: 9.965781217890562
                        Average: 6.438423552598547
                        OneStarPercentage: 3.5571952270680973
                        FourStarPercentage: 2.8841621266687802
                        ThreeStarCount: 6.683562403749608
                        RatingCount: 4.965218492984954
                        RatingSum: 5.025004791520295
                        FiveStarPercentage: 6.778324963048013
                        ThreeStarPercentage: 1.284659006116532
                        ReviewCount: 1.1730742509559433
                        FiveStarCount: 9.018348186070783
                    HasProductSubs:
                      type: boolean
                    IsSponsoredAd:
                      type: boolean
                    AdID:
                      type: object
                    AdIndex:
                      type: object
                    IsMarketProduct:
                      type: boolean
                    IsGiftable:
                      type: boolean
                    Vendor:
                      type: object
                    Untraceable:
                      type: boolean
                    ThirdPartyProductInfo:
                      type: object
                    MarketFeatures:
                      type: object
                    MarketSpecifications:
                      type: object
                    SupplyLimitSource:
                      type: string
                    Tags:
                      type: object
                    IsPersonalisedByPurchaseHistory:
                      type: boolean
                    IsFromFacetedSearch:
                      type: boolean
                    NextAvailabilityDate:
                      type: string
                    NumberOfSubstitutes:
                      type: number
                  example:
                    ChildProducts: {}
                    QuantityInTrolley: 7.386281948385884
                    AdID: {}
                    HasCupPrice: true
                    HasBeenBoughtBefore: true
                    IsDeliveryPass: true
                    CupString: CupString
                    IsInStock: true
                    IsInTrolley: true
                    CentreTag:
                      TagType: TagType
                      TagContentText: {}
                      DualImageTagContent: {}
                      TagLink: {}
                      MultibuyData: {}
                      TagContent: {}
                      FallbackText: {}
                    SmallFormatDescription: SmallFormatDescription
                    IsBundle: true
                    MediumImageFile: MediumImageFile
                    HideWasSavedPrice: true
                    Unit: Unit
                    SapCategories: {}
                    Name: Name
                    InstoreWasPrice: 4.145608029883936
                    IsPmDelivery: true
                    HeaderTag: {}
                    DetailsImagePaths:
                    - DetailsImagePaths
                    - DetailsImagePaths
                    NextAvailabilityDate: NextAvailabilityDate
                    WasPrice: 2.027123023002322
                    IsInFamily: true
                    MarketSpecifications: {}
                    AdIndex: {}
                    Tags: {}
                    ProductLimit: 1.4894159098541704
                    ProductWarningMessage: {}
                    UnitWeightInGrams: 6.84685269835264
                    HasHeaderTag: true
                    IsOnSpecial: true
                    InstoreSavingsAmount: 3.616076749251911
                    CupPrice: 5.962133916683182
                    Untraceable: true
                    MarketFeatures: {}
                    IsMarketProduct: true
                    IsRanged: true
                    NumberOfSubstitutes: 6.878052220127876
                    ThirdPartyProductInfo: {}
                    SavingsAmount: 9.301444243932576
                    Brand: Brand
                    IsRestrictedByDeliveryMethod: true
                    SupplyLimitMessage: SupplyLimitMessage
                    Price: 2.3021358869347655
                    Barcode: Barcode
                    LargeImageFile: LargeImageFile
                    TileID: 0.8008281904610115
                    ProductRestrictionMessage: {}
                    IsSponsoredAd: true
                    FooterTag:
                      TagType: TagType
                      TagContentText: {}
                      DualImageTagContent: {}
                      TagLink: {}
                      MultibuyData: {}
                      TagContent: {}
                      FallbackText: {}
                    HasProductSubs: true
                    ImageTag:
                      TagType: TagType
                      TagContentText: {}
                      DualImageTagContent: {}
                      TagLink: {}
                      MultibuyData: {}
                      TagContent: {}
                      FallbackText: FallbackText
                    Description: Description
                    IsEdrSpecial: true
                    MaxSupplyLimitMessage: MaxSupplyLimitMessage
                    IsPurchasable: true
                    Diagnostics: Diagnostics
                    IsForDelivery: true
                    Rating:
                      FourStarCount: 8.762042012749001
                      TwoStarCount: 9.369310271410669
                      TwoStarPercentage: 6.965117697638846
                      OneStarCount: 9.965781217890562
                      Average: 6.438423552598547
                      OneStarPercentage: 3.5571952270680973
                      FourStarPercentage: 2.8841621266687802
                      ThreeStarCount: 6.683562403749608
                      RatingCount: 4.965218492984954
                      RatingSum: 5.025004791520295
                      FiveStarPercentage: 6.778324963048013
                      ThreeStarPercentage: 1.284659006116532
                      ReviewCount: 1.1730742509559433
                      FiveStarCount: 9.018348186070783
                    CupMeasure: CupMeasure
                    SupplyLimit: 1.0246457001441578
                    IsNew: true
                    InstoreIsOnSpecial: true
                    Source: Source
                    IsForExpress: true
                    UrlOverride: {}
                    PackageSize: PackageSize
                    RichDescription: {}
                    DisplayName: DisplayName
                    AdditionalAttributes:
                      sapsegmentno: sapsegmentno
                      sapdepartmentno: sapdepartmentno
                      boxedcontents: {}
                      recyclableinformation: {}
                      allergenmaybepresent: {}
                      antibacterial: antibacterial
                      sapcategoryname: sapcategoryname
                      soap-free: {}
                      fragrance-free: {}
                      usageinstructions: {}
                      nutritionalinformation: nutritionalinformation
                      oilfree: {}
                      brand: brand
                      skincondition: {}
                      piessubcategorynamesjson: piessubcategorynamesjson
                      productwidthmm: {}
                      sapcategoryno: sapcategoryno
                      anti-dandruff: {}
                      productdepthmm: {}
                      sapsegmentname: sapsegmentname
                      antioxidant: antioxidant
                      lifestyleanddietarystatement: lifestyleanddietarystatement
                      waterresistant: {}
                      addedvitaminsandminerals: addedvitaminsandminerals
                      spf: {}
                      tgawarning: {}
                      alcoholfree: {}
                      ophthalmologisttested: {}
                      dermatologisttested: {}
                      contains: {}
                      healthstarrating: healthstarrating
                      servingsize-total-nip: {}
                      phbalanced: {}
                      piescategorynamesjson: piescategorynamesjson
                      claims: {}
                      importantinformation: {}
                      productimagecount: productimagecount
                      paba-free: {}
                      PiesProductDepartmentNodeId: PiesProductDepartmentNodeId
                      wool_dietaryclaim: wool_dietaryclaim
                      ovencook: ovencook
                      sapdepartmentname: sapdepartmentname
                      vendorarticleid: {}
                      containsgluten: containsgluten
                      productheightmm: {}
                      r&r_hidereviews: {}
                      description: description
                      haircolour: {}
                      allergystatement: {}
                      ophthalmologistapproved: {}
                      sweatresistant: {}
                      microwavesafe: microwavesafe
                      non-comedogenic: {}
                      containsnuts: containsnuts
                      manufacturer: {}
                      sapsubcategoryno: sapsubcategoryno
                      timer: {}
                      wool_productpackaging: {}
                      r&r_loggedinreviews: {}
                      storageinstructions: storageinstructions
                      dermatologicallyapproved: {}
                      hypo-allergenic: {}
                      vegetarian: vegetarian
                      ingredients: ingredients
                      piesdepartmentnamesjson: piesdepartmentnamesjson
                      vendorcostprice: {}
                      PiesProductDepartmentsjson: PiesProductDepartmentsjson
                      specialsgroupid: {}
                      antiseptic: antiseptic
                      skintype: {}
                      sapsubcategoryname: sapsubcategoryname
                      allergencontains: {}
                      microwaveable: microwaveable
                      tgawarnings: {}
                      dermatologistrecommended: {}
                      parabenfree: parabenfree
                      fragrance: {}
                      servingsperpack-total-nip: {}
                      colour: {}
                      friendlydisclaimer: {}
                      sulfatefree: sulfatefree
                      freezable: freezable
                      productimages: productimages
                      bpafree: bpafree
                      lifestyleclaim: {}
                      activeconstituents: {}
                      tgahealthwarninglink: {}
                      countryoforigin: {}
                      hairtype: {}
                      suitablefor: {}
                    IsPersonalisedByPurchaseHistory: true
                    IsGiftable: true
                    SmallImageFile: SmallImageFile
                    IsCentreTag: true
                    InstorePrice: 7.061401241503109
                    InstoreHasCupPrice: true
                    GtinFormat: 1.4658129805029452
                    IsFromFacetedSearch: true
                    InstoreIsAvailable: true
                    SupplyLimitSource: SupplyLimitSource
                    Vendor: {}
                    InstoreCupString: InstoreCupString
                    Stockcode: 6.027456183070403
                    AgeRestricted: true
                    MinimumQuantity: 1.2315135367772556
                    IsFooterEnabled: true
                    IsForCollection: true
                    DisplayQuantity: 7.457744773683766
                    IsAvailable: true
                    InstoreIsPurchasable: true
                    UrlFriendlyName: UrlFriendlyName
                    Variety: Variety
                    InstoreCupPrice: 5.637376656633329
                    FullDescription: FullDescription
              Name:
                type: string
              DisplayName:
                type: string
            example:
              Products:
              - ChildProducts: {}
                QuantityInTrolley: 7.386281948385884
                AdID: {}
                HasCupPrice: true
                HasBeenBoughtBefore: true
                IsDeliveryPass: true
                CupString: CupString
                IsInStock: true
                IsInTrolley: true
                CentreTag:
                  TagType: TagType
                  TagContentText: {}
                  DualImageTagContent: {}
                  TagLink: {}
                  MultibuyData: {}
                  TagContent: {}
                  FallbackText: {}
                SmallFormatDescription: SmallFormatDescription
                IsBundle: true
                MediumImageFile: MediumImageFile
                HideWasSavedPrice: true
                Unit: Unit
                SapCategories: {}
                Name: Name
                InstoreWasPrice: 4.145608029883936
                IsPmDelivery: true
                HeaderTag: {}
                DetailsImagePaths:
                - DetailsImagePaths
                - DetailsImagePaths
                NextAvailabilityDate: NextAvailabilityDate
                WasPrice: 2.027123023002322
                IsInFamily: true
                MarketSpecifications: {}
                AdIndex: {}
                Tags: {}
                ProductLimit: 1.4894159098541704
                ProductWarningMessage: {}
                UnitWeightInGrams: 6.84685269835264
                HasHeaderTag: true
                IsOnSpecial: true
                InstoreSavingsAmount: 3.616076749251911
                CupPrice: 5.962133916683182
                Untraceable: true
                MarketFeatures: {}
                IsMarketProduct: true
                IsRanged: true
                NumberOfSubstitutes: 6.878052220127876
                ThirdPartyProductInfo: {}
                SavingsAmount: 9.301444243932576
                Brand: Brand
                IsRestrictedByDeliveryMethod: true
                SupplyLimitMessage: SupplyLimitMessage
                Price: 2.3021358869347655
                Barcode: Barcode
                LargeImageFile: LargeImageFile
                TileID: 0.8008281904610115
                ProductRestrictionMessage: {}
                IsSponsoredAd: true
                FooterTag:
                  TagType: TagType
                  TagContentText: {}
                  DualImageTagContent: {}
                  TagLink: {}
                  MultibuyData: {}
                  TagContent: {}
                  FallbackText: {}
                HasProductSubs: true
                ImageTag:
                  TagType: TagType
                  TagContentText: {}
                  DualImageTagContent: {}
                  TagLink: {}
                  MultibuyData: {}
                  TagContent: {}
                  FallbackText: FallbackText
                Description: Description
                IsEdrSpecial: true
                MaxSupplyLimitMessage: MaxSupplyLimitMessage
                IsPurchasable: true
                Diagnostics: Diagnostics
                IsForDelivery: true
                Rating:
                  FourStarCount: 8.762042012749001
                  TwoStarCount: 9.369310271410669
                  TwoStarPercentage: 6.965117697638846
                  OneStarCount: 9.965781217890562
                  Average: 6.438423552598547
                  OneStarPercentage: 3.5571952270680973
                  FourStarPercentage: 2.8841621266687802
                  ThreeStarCount: 6.683562403749608
                  RatingCount: 4.965218492984954
                  RatingSum: 5.025004791520295
                  FiveStarPercentage: 6.778324963048013
                  ThreeStarPercentage: 1.284659006116532
                  ReviewCount: 1.1730742509559433
                  FiveStarCount: 9.018348186070783
                CupMeasure: CupMeasure
                SupplyLimit: 1.0246457001441578
                IsNew: true
                InstoreIsOnSpecial: true
                Source: Source
                IsForExpress: true
                UrlOverride: {}
                PackageSize: PackageSize
                RichDescription: {}
                DisplayName: DisplayName
                AdditionalAttributes:
                  sapsegmentno: sapsegmentno
                  sapdepartmentno: sapdepartmentno
                  boxedcontents: {}
                  recyclableinformation: {}
                  allergenmaybepresent: {}
                  antibacterial: antibacterial
                  sapcategoryname: sapcategoryname
                  soap-free: {}
                  fragrance-free: {}
                  usageinstructions: {}
                  nutritionalinformation: nutritionalinformation
                  oilfree: {}
                  brand: brand
                  skincondition: {}
                  piessubcategorynamesjson: piessubcategorynamesjson
                  productwidthmm: {}
                  sapcategoryno: sapcategoryno
                  anti-dandruff: {}
                  productdepthmm: {}
                  sapsegmentname: sapsegmentname
                  antioxidant: antioxidant
                  lifestyleanddietarystatement: lifestyleanddietarystatement
                  waterresistant: {}
                  addedvitaminsandminerals: addedvitaminsandminerals
                  spf: {}
                  tgawarning: {}
                  alcoholfree: {}
                  ophthalmologisttested: {}
                  dermatologisttested: {}
                  contains: {}
                  healthstarrating: healthstarrating
                  servingsize-total-nip: {}
                  phbalanced: {}
                  piescategorynamesjson: piescategorynamesjson
                  claims: {}
                  importantinformation: {}
                  productimagecount: productimagecount
                  paba-free: {}
                  PiesProductDepartmentNodeId: PiesProductDepartmentNodeId
                  wool_dietaryclaim: wool_dietaryclaim
                  ovencook: ovencook
                  sapdepartmentname: sapdepartmentname
                  vendorarticleid: {}
                  containsgluten: containsgluten
                  productheightmm: {}
                  r&r_hidereviews: {}
                  description: description
[...]
